.header{
    display: flex;
    gap:1em;
}
.searchBar{
    
}

.searchBtn{
    margin:10px;
    width: 4em;
    height:2em;
    border-radius: 4px;
    border: gray;
    background-color: rgb(247, 110, 153);
    color:rgb(42, 19, 146)

    
}
.searchBtn:hover{
    cursor:pointer;
    width: 5em;
    height:2em;
 
    
    
}